/* Layout */
$max-app-width: 1240px;
$min-app-width: 320px;

/*  Colors */
$color-primary: #000000;
$color-secondary: #AFAFAFAF;

/* Font */
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-big: 16px;
$font-size-huge: 18px;
